.email-display {
    width: calc(100vw - 470px);
    left: 420px;
    background-color: #fff;
    border: #C5C5C5;
    box-shadow: 0 0px 10px #C5C5C5;
    padding: 20px;
    overflow-y: auto; /* Enables vertical scrolling */
    position: absolute;
    top: 9px;
    bottom: 9px;
    max-height: 100vh;
}

.email-display::-webkit-scrollbar, .email-body-textarea::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.email-display::-webkit-scrollbar-thumb, .email-body-textarea::-webkit-scrollbar-thumb {
    background-color: #C5C5C5;
    border-radius: 4px;
}

.email-display::-webkit-scrollbar-thumb:hover, .email-body-textarea::-webkit-scrollbar-thumb::hover {
    background-color: #b0b0b0;
}

.label-box {
    font-weight: bold;
}

.field-text {
    font-size: 1rem;
    color: #333;
    padding: 0.2rem 0.5rem;
}

.email-to {
    display: flex;
    align-items: center;
    width: 100%;
}

.label-box {
    white-space: nowrap;
}

.to-input, .subject-input {
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    flex: 1;
    padding: 0.2rem;
    box-sizing: border-box;
}

.to-input:focus, .subject-input:focus {
    border-bottom: 2px solid rgb(156, 156, 156);
    transition: border-color 0.3s ease;
}

.to-input::placeholder, .subject-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.email-body {
    width: 100%;
    height: calc(100vh - 160px);
    padding-top: 20px;
}

.email-body-textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid #ccc;
    font-size: 1rem;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    resize: none;
}

.email-body-textarea::placeholder {
    color: #aaa;
    font-style: italic;
}

.send-button {
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size:16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: rgb(156, 156, 156);
}